eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
  instance:
    appname: service-registry-cluster

spring:
  application:
    name: discovery-service
  profiles:
    active: singleserver

management:
  endpoints:
    web:
      base-path: /actuator
      exposure.include: health, prometheus
      path-mapping.prometheus: metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      cache.time-to-live: 1ms

---
server:
  port: 8761
spring:
  config:
    activate:
      on-profile: peer1
eureka:
  instance:
    hostname: discovery-service-1
    metadataMap:
      instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    serviceUrl:
      defaultZone: http://discovery-service-1:8761/eureka/,http://discovery-service-2:8762/eureka/

log:
  app-name: discovery-service-1

---
server:
  port: 8762
spring:
  config:
    activate:
      on-profile: peer2
eureka:
  instance:
    hostname: discovery-service-2
    metadataMap:
      instanceId: ${spring.application.name}:${spring.application.instance_id:${random.value}}
  client:
    serviceUrl:
      defaultZone: http://discovery-service-2:8762/eureka/,http://discovery-service-1:8761/eureka/

log:
  app-name: discovery-service-2