server:
  port: 8184

eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER:http://localhost:8761/eureka}
  instance:
    preferIpAddress: true

logging:
  level:
    com.backend.programming.learning.system: INFO


socket-config:
  port: 8085
  host: 172.16.12.5

course-service:
  question-request-topic-name: core-question-request
  question-response-topic-name: core-question-response

  course-user-request-topic-name: course-user-request
  user-response-topic-name: user-response

  course-organization-request-topic-name: course-organization-request
  organization-response-topic-name: organization-response

  calendar-event-update-request-topic-name: calendar-event-update-request
  calendar-event-update-response-topic-name: calendar-event-update-response

  outbox-scheduler-fixed-rate: 2000
  outbox-scheduler-initial-delay: 2000

  create-notification-scheduler-fixed-rate: 1800000

spring:
  application:
    name: course-service
  config:
    import: optional:configserver:${CONFIG_SERVER:http://localhost:9999}
  cloud:
    config:
      username: spring_cloud_user
      password: springCloud_Pwd!
  kafka:
    bootstrap-servers: localhost:19092, localhost:29092, localhost:39092
  zipkin:
    sender:
      type: kafka
    base-url: http://localhost:9411
  sleuth:
    sampler:
      probability: 1.0
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:postgresql://localhost:5432/course-service?currentSchema=public&binaryTransfer=true&reWriteBatchedInserts=true&stringtype=unspecified
    username: postgres
    password: localdb
    driver-class-name: org.postgresql.Driver

  sql:
    init:
      platform: postgres
      mode: never
      data-locations: classpath:init-data.sql
      schema-locations: classpath:init-schema.sql

kafka-config:
  bootstrap-servers: localhost:19092, localhost:29092, localhost:39092
  schema-registry-url-key: schema.registry.url
  schema-registry-url: http://localhost:8081
  num-of-partitions: 3
  replication-factor: 3

kafka-producer-config:
  key-serializer-class: org.apache.kafka.common.serialization.StringSerializer
  value-serializer-class: io.confluent.kafka.serializers.KafkaAvroSerializer
  compression-type: none
  acks: all
  batch-size: 16384
  batch-size-boost-factor: 100
  linger-ms: 5
  request-timeout-ms: 60000
  retry-count: 5

kafka-consumer-config:
  key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
  value-deserializer: io.confluent.kafka.serializers.KafkaAvroDeserializer
  question-request-consumer-group-id: question-request-topic-consumer

  course-service-calendar-event-consumer-group-id: course-service-calendar-event-consumer

  course-service-organization-create-request-group-id: course-service-organization-create-request-consumer
  course-service-organization-update-request-group-id: course-service-organization-update-request-consumer
  course-service-organization-delete-request-group-id: course-service-organization-delete-request-consumer

  course-service-user-request-group-id: course-service-user-request-topic

  course-service-organization-request-group-id: course-service-organization-request-topic

  auto-offset-reset: earliest
  specific-avro-reader-key: specific.avro.reader
  specific-avro-reader: true
  batch-listener: true
  auto-startup: true
  concurrency-level: 3
  session-timeout-ms: 10000
  heartbeat-interval-ms: 3000
  max-poll-interval-ms: 300000
  max-poll-records: 500
  max-partition-fetch-bytes-default: 1048576
  max-partition-fetch-bytes-boost-factor: 1
  poll-timeout-ms: 150

springdoc:
  api-docs:
    path: /course/v3/api-docs
  swagger-ui:
    path: /course/swagger-ui

security:
  paths-to-ignore: /course/v3/api-docs, /actuator/**

management:
  endpoints:
    web:
      base-path: /actuator
      exposure.include: health, prometheus
      path-mapping.prometheus: metrics
  endpoint:
    health:
      show-details: always
    prometheus:
      cache.time-to-live: 1ms

log:
  appName: course-service

---
spring.config.activate.on-profile: prod
# Disable springdoc-openapi
springdoc:
  api-docs:
    enabled: false
  swagger-ui:
    enabled: false

security:
  paths-to-ignore: /actuator/**